.divm, .divmSel { 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue; 
    height: 50px;
    border-radius: 10px;
}

.divm:hover, .divm:active, .divmSel {
    background-color:darkblue ;
    color: white ;
}

.sp1, .sp11, .sp12, .sp13 {
    font-weight: bold;
}

.sp11 {
    display: inline-flex; 
    border-radius: 5px;
    color: blue;
}

.sp12 {
    display: inline-flex; 
    border-radius: 5px;
    color:darkgreen;
}


.sp13 {
    display: inline-flex; 
    border-radius: 5px;
    color:brown;
}